@import './template';

header {
  display: grid;
  grid-template-columns: 30% repeat(4, 1fr);
  font-size: 1.4em;
  font-weight: 700;

  .logo {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-column: 1/2;
    margin: 7.5vh 3vw 7.5vh 10vw;
  }
  .navigation {
    width: 80%;
    display: grid;
    justify-content: space-between;
    align-content: center;
    margin-left: 10vw;
    grid-column: 2/6;
    font-weight: 500;
  }

  .nav1 {
    min-width: 100%;
    display: grid;
    grid-column: 2/3;
  }

  .nav2 {
    min-width: 100%;
    grid-column: 3/4;
  }

  .nav3 {
    min-width: 100%;
    grid-column: 4/5;
  }

  .nav4 {
    min-width: 100%;
    grid-column: 5/6;
  }
}

.top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10vh 10vh 1fr;
  grid-template-rows: 1fr 10vh 1fr;

  .txt1 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 15vh 5vh 0vh 10vw;
    font-size: 0.9em;
    font-weight: 500;
    justify-self: start;
    align-self: start;
    word-wrap: break-word;
  }

  .img1 {
    display: grid;
    justify-self: end;
    width: 70%;
    margin-top: 5vh;
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .img2 {
    display: grid;
    justify-self: start;
    margin-top: -25vh;
    grid-column: 1/3;
    grid-row: 3/4;
    width: 70%;
  }

  .button {
    color: #000;
    font-weight: 600;
    font-size: 2em;
    background-color: #ffffff;
    display: grid;
    align-content: center;
    justify-self: start;
    align-self: start;
    margin-top: 15vh;
    padding: 2vh 1vh;
    grid-row: 3/4;
    grid-column: 2/5;
  }
  .name1 {
    font-family: 'Playfair Display', Tahoma, Verdana, sans-serif;
    font-size: 14.5em;
    font-weight: 700;
    position: absolute;
    top: 47vh;
    left: 10vw;
    background-color: #00000000;
    z-index: 1;
  }

  .name2 {
    font-family: 'Playfair Display', Tahoma, Verdana, sans-serif;
    font-size: 13em;
    font-weight: 700;
    position: absolute;
    top: 69.5vh;
    left: 28vw;
    background-color: #00000000;
    z-index: 1;
  }

  @media (min-width: 1025px) {
    .name3 {
      display: none;
    }
  }
}

.gallery {
  width: 80vw;
  margin: 0 10vw 10vw;
  display: grid;
  grid-template-columns: repeat(2, 38.5vw);
  column-gap: 3vw;

  .portfolio {
    font-family: 'Playfair Display', Tahoma, Verdana, sans-serif;
    font-size: 5em;
    font-weight: 400;
    width: 80vw;
    display: grid;
    justify-content: center;
    align-self: center;
    grid-column: 1/3;
    margin-bottom: 50px;
  }

  .img3 {
    background: url(/assets/images/Rectangle1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 995.476px;
  }

  .img4 {
    background: url(/assets/images/Rectangle2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 624.705px;
  }

  .img5 {
    background: url(/assets/images/Rectangle3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 818.338px;
    margin-top: 5vh;
  }

  .img6 {
    background: url(/assets/images/Rectangle4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1389.221px;
    margin-top: -48vh;
  }

  .img7 {
    background: url(/assets/images/Rectangle5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 802.869px;
    margin-top: -24vh;
  }

  .img8 {
    background: url(/assets/images/Rectangle6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 605.758px;
    margin-top: 4.3vh;
  }

  @media (min-width: 1025px) {
    .img3_1,
    .img4_1,
    .img5_1,
    .img6_1,
    .img7_1,
    .img8_1 {
      display: none;
    }
  }
}

footer {
  display: grid;
  width: 60%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  margin: 0 20vw 5vw;

  .cell1 {
    font-size: 22px;
    font-weight: 700;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 20px;
  }

  .cell2 {
    font-size: 20px;
    font-weight: 300;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .cell3 {
    font-size: 20px;
    font-weight: 300;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  header {
    font-size: 1rem;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 20vh;
    display: grid;

    .logo {
      grid-column: 1;
      display: grid;
      justify-self: start;
    }

    .navigation {
      display: grid;
      justify-content: end;
      width: 70%;
      font-size: 0.9rem;
      grid-column: 2;
    }
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      grid-column: auto;
      margin-top: 10%;
    }
    .nav1 {
      display: grid;
      justify-content: end;
      grid-row: 1/2;
    }
    .nav2 {
      display: grid;
      justify-content: end;
      grid-row: 2/3;
    }
    .nav3 {
      display: grid;
      justify-content: end;
      grid-row: 3/4;
    }
    .nav4 {
      display: grid;
      justify-content: end;
      grid-row: 4/5;
    }
  }

  .top {
    .name1,
    .name2 {
      display: none;
    }
    .name3 {
      display: grid;
      grid-column: 2/4;
      grid-row: 1;
      z-index: 1;
      background-color: #00000000;
      font-size: 5em;
      justify-self: center;
      align-self: center;
      word-wrap: break-word;
      opacity: 0.9;
    }

    .txt1 {
      display: grid;
      grid-column: 1/5;
      grid-row: 3;
      justify-self: stretch;
      align-self: start;
      margin-top: 0;
    }
    .button {
      grid-column: 1/5;
      grid-row: 4/5;
      justify-self: stretch;
      margin: -40vh 10vw 0;
      border-radius: 10%;
    }

    .img1 {
      display: grid;
      justify-self: start;
      width: 90%;
      height: 50vh;
      margin-top: 5vh;
      grid-column: 1/3;
      grid-row: 1/2;
    }

    .img2 {
      display: grid;
      justify-self: end;
      width: 90%;
      height: 50vh;
      margin-top: 5vh;
      grid-column: 3/5;
      grid-row: 1/2;
    }
  }
  .gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: 1fr repeat(3, 200px);
  }

  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8 {
    display: none;
  }

  .img3_1,
  .img4_1,
  .img5_1,
  .img6_1,
  .img7_1,
  .img8_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer {
    .cell1 {
      font-size: 0.8em;
    }
    .cell2,
    .cell3 {
      font-size: 0.6em;
    }
  }
}
